* {
  margin: 0;
  padding: 0;
  border: 0;
}
.top {
  width: 100vw;
  height: 20vh;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom {
  width: 100vw;
  height: 80vh;
  background-color: paleturquoise;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 250px;
  gap: 20px;
}
