* {
  margin: 0;
  padding: 0;
  border: 0;
}
.top {
  width: 100vw;
  height: 20vh;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom {
  width: 100vw;
  min-height: 80vh;
  padding-bottom: 125px;
}
.bottom.split {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 250px;
  gap: 20px;
}
.light,
.dark {
  position: relative;
  display: flex;
  flex-direction: column;
}

.switcher {
  position: absolute;
  top: 50px;
  right: 50px;
}

.dark {
  background-color: #3f3f3f;

  .top {
    background-color: #110a0a;
  }
  .lightText {
    color: white;
  }
  .flyout {
    background: black;
  }
}
