* {
  margin: 0;
  padding: 0;
  border: 0;
}

.top {
  width: 100vw;
  height: 20vh;
  background-color: blanchedalmond;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom {
  width: 100vw;
  height: 80vh;
  background-color: paleturquoise;
}
